<section class="section-about">
  <div class="container cont-about">
    <h2 class="title-about">O nas</h2>
    <div class="box-text-about">
      <p class="text-about">
        Nasza hodowla powstała w [Rok Założenia], z pasji do psów rasy berneński
        pies pasterski. Od samego początku naszym celem było wychowywanie
        zdrowych, przyjaznych i zrównoważonych psów, które będą wspaniałymi
        towarzyszami dla rodzin oraz partnerami w różnych aktywnościach.
      </p>

      <p class="text-about">
        Jesteśmy członkami ZKwP w strukturach FCI, co gwarantuje, że nasza
        hodowla działa zgodnie z najwyższymi standardami hodowlanymi. Każdy nasz
        pies jest starannie dobierany i przygotowywany do wystaw, dzięki czemu
        wiele naszych podopiecznych zdobyło liczne nagrody i wyróżnienia w
        konkursach i wystawach krajowych oraz międzynarodowych.
      </p>
      <p class="text-about">
        Hodowla znajduje się w malowniczej wsi [Nazwa Wsi, np. Gozakopane],
        położonej u stóp Tatr, niedaleko Zakopanego. W otoczeniu gór, zielonych
        łąk i czystego powietrza nasze psy mają dużo przestrzeni do zabawy i
        codziennego ruchu. Dzięki temu każde szczenię wychowuje się w
        naturalnym, spokojnym środowisku, co sprzyja jego prawidłowemu rozwojowi
        i socjalizacji.
      </p>
    </div>

    <div class="map-box-mob">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20799.005053657882!2d19.954384450000003!3d49.335573350000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4715edee04cd12df%3A0x1d4db5f10a51e6e4!2z0JfQvtC80LE!5e0!3m2!1suk!2spl!4v1772631485088!5m2!1suk!2spl"
        loading="lazy"
      ></iframe>
    </div>
  </div>
</section>
