<footer class="footer">
  <div class="container">
    <ul class="social-list">
      <li class="social-item">
        <a href="">
          <svg>
            <use></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a href="">
          <svg>
            <use></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a href="">
          <svg>
            <use></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
