<div class="mobile-menu" data-menu>
  <div class="container cont-mobile-menu">
    <div class="mm-heder-cont">
      <a class="mobile-menu-logo" href="./index.html" aria-label="Site logo">
        <img src="./img/header/logo1.png" alt="logo" class="logo-img" />
      </a>
      <button class="btn-close" type="button" data-menu-close>
        <svg class="icon-close-menu" width="24" height="24">
          <use href="./img/icon.svg#icon-close-menu"></use>
        </svg>
      </button>
    </div>
    <nav class="mobile-menu-nav">
      <ul class="mm-nav-list">
        <li class="mm-nav-item">
          <a href="aboutus.html" class="mm-nav-item-link">O nas</a>
        </li>
        <li class="mm-nav-item">
          <a href="champions.html" class="mm-nav-item-link">Championy</a>
        </li>
        <li class="mm-nav-item">
          <a href="pappies.html" class="mm-nav-item-link">Szczenięta</a>
        </li>
        <li class="mm-nav-item">
          <a href="footer.html" class="mm-nav-item-link">Kontakt</a>
        </li>
      </ul>
    </nav>
    <address class="mm-contact">
      <ul class="mm-contact-list">
        <li class="mm-contact-item">
          <a
            class="mm-contact-link"
            href="mailto:malgorzatakalisz.chef@gmail.com"
            >malgorzatakalisz.chef@gmail.com</a
          >
        </li>
        <li class="mm-contact-item">
          <a class="mm-contact-link" href="tel:+48-692-640-790"
            >+48-692-640-790</a
          >
        </li>
      </ul>
    </address>
    <ul class="mm-sm-list">
      <li class="mm-sm-item">
        <a
          class="mm-sm-link"
          target="_blank"
          href="https://www.facebook.com/profile.php?id=100091936993730"
          ><svg class="mm-sm-icon" width="24" height="24">
            <use href="./img/icon.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="mm-sm-item">
        <a
          class="mm-sm-link"
          target="_blank"
          href="https://www.instagram.com/silent_diamond__fci_?fbclid=IwY2xjawQOdC9leHRuA2FlbQIxMABzcnRjBmFwcF9pZBAyMjIwMzkxNzg4MjAwODkyAAEe1V09SBlRwpNWsmYiiBP4o2hH2gxkZBu6e1v9EpjHyCHjGT5WnCP7eGcJa9c_aem_prdAbiORqI36ZIMeBi2UlQ"
          ><svg class="mm-sm-icon" width="24" height="24">
            <use href="./img/icon.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="mm-sm-item">
        <a
          class="mm-sm-link"
          target="_blank"
          href="https://www.tiktok.com/@silent.diamond.fci"
          ><svg class="mm-sm-icon" width="24" height="24">
            <use href="./img/icon.svg#icon-tiktok"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
