:root {
  /* kolory główne */
  --color-bg: #fafafb; /* tło strony */
  --color-text: #1f1f1f; /* główny tekst */
  --color-accent: #6b3f29; /* ciepły brąz, przyciski i linki */
  --color-accent-hover: #8a5a3d; /* hover dla przycisków */
  --color-gold: #c5a55d; /* subtelny złoty akcent */
  --color-light: #ffffff; /* biały np. na tekst na ciemnym tle */

  /* fonty */
  --font-heading: 'Playfair Display', serif;
  --font-body: 'Lato', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Nagłówki */
h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
}

/* Tekst paragrafów */
p,
li,
span,
a {
  font-family: 'Lato', sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

button:active,
a:active {
  transform: scale(0.98); /* Кнопка ніби трохи вдавлюється */
}

button,
a {
  transition: all 0.2s ease-in-out;
}

img,
iframe {
  max-width: 100%;
}
